// Mixins in here
.flex(@justify: inherit, @align: inherit) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
};

.button(@radius, @background-color, @color) {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  font-size: 1.6rem;

  border-radius: @radius;
  background-color: @background-color;
  color: @color;
}

.animatePulse(@timing, @duration) {
  animation-name: pulse;
  animation-iteration-count: infinite;

  animation-timing-function: @timing;
  animation-duration: @duration; 
  
  @keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }

    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
    
    to {
      transform: scale3d(1, 1, 1);
    }
  }
}