// Navigation Styles here
header.navigation {
  position: relative;
  border-bottom: 2px dashed @navigation-border;

  padding: 25px 0;
  .flex(space-between, center);

  @media @phone {
    flex-direction: column;
    padding: 10px 0;
  }

  nav {
    .flex(space-between, center);
    margin: 0 15px;

    @media @phone {
      width: 100%;
      padding: 0 40px;
    }
  }
  
  nav a {
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    padding: 0 15px;
    color: @font-color;

    &:hover {
      color: lighten(@font-color, 25);
    }
  }
  
  .logo {
    font-size: 4rem;
    font-family: 'Indie Flower', cursive;

    .animatePulse(ease-in-out, 3s);

    @media @phone {
      font-size: 3rem;
      margin: 10px 0;
    }
  }

  &:before, &:after {
    content: "";
    border-bottom: 2px dashed @navigation-border;
    position: absolute;
    bottom: -2px;
    width: 14.7vw;
    height: 100%;

    @media( max-width: 1024px ) {
      display: none;
    }
  }

  &:after {
    right: -15%;
  }

  &:before {
    left: -15%;
  }
}